<div class="well well-large col-md-6 col-md-offset-3">
	<h1>Ayuda</h1>
	<br>
	<ul>
		<li><h4><a target="_BLANK" href="/Job_Aid.pdf">Descargar el Job Aid</a></h4></li>
		<br />
		<li><h4>Dudas y comentarios en <a href="mailto:user@example.com">user@example.com</a></h4></li>
	</ul>
</div>