<section id="pricing-tables">
  <div class="container inner">
    
    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h1>Nueva Cámara</h1>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->
    
    <div class="row pricing">
      
      <div class="col-md-6 col-sm-6 center-block inner-top-sm">

		<%= render 'form' %>

		<%= link_to 'Regresar', cameras_path %>

      </div><!-- /.col -->
      
    </div><!-- /.row -->
    
  </div><!-- /.container -->
</section>

